body {
    background-color: #252525; 
}

h1 {
    background-color: #252525; 
    color: red; 
    padding: 100px; 
    text-align: center;
    font-size: 40px; 
}

input[type="number"],
input[type="text"],
button {
    margin: 50px; 
    padding: 25px; 
    text-align: center; 
}

#resultado {
    background-color: white; 
    text-align: center; 
    padding: 25px;
    max-width: 500px; 
    border-radius: 25px;
    border: 2px solid red;
    margin: 0 auto;
}

.input {
    margin: 25px; 
    text-align: center; 
}

.input input {
    margin: 25px; 
    text-align: center;
    border: 2px solid red;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 25px;
}
.input button {
    display: block; 
    margin: 80px auto 80px;
    text-align: center; 
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
}

